#borderr {
  position: relative;
}
#borderr::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  border: 2.8px dashed rgb(255, 255, 255);
  border-radius: 100%;
}
